body {
    height: 100vh;
    width: 100wh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 160, 43);
}

#main {
    text-align: center;
    font-size: 2em;
}
